

name: ci-golang-workflow
on: 
  push:
    branches:
      - main
jobs:
  deploy-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      # Setup gcloud CLI
      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        
      # Configure Docker with Credentials
      - name: Configure Docker
        run: |
          gcloud auth configure-docker
        
      # Build the Docker image
      - name: Build & Publish
        run: |
          docker build -t gcr.io/${{ secrets.GCP_PROJECT }}/${{ secrets.GCP_APPLICATION }} ./Ms.Invoices/changeInvoiceStatusJob/.
          docker push gcr.io/${{ secrets.GCP_PROJECT }}/${{ secrets.GCP_APPLICATION }}

      - name: Setup gcloud beta
        run: gcloud config set run/region us-central1 && gcloud components install beta

      # Deploy the Docker image to the GKE cluster
      - name: Create Job
        run: gcloud beta run jobs create go-job --image=gcr.io/${{ secrets.GCP_PROJECT }}/${{ secrets.GCP_APPLICATION }}
        continue-on-error: true
          
      - name: Update Job
        run: gcloud beta run jobs update go-job --image=gcr.io/${{ secrets.GCP_PROJECT }}/${{ secrets.GCP_APPLICATION }}

      - name: Create Scheduled Job
        if: always()
        continue-on-error: true
        run:  |
          gcloud scheduler jobs create http ${{ secrets.GCP_APPLICATION }}-scheduler \
            --location us-central1 \
            --schedule="* * * * *" \
            --uri="https://us-central1-run.googleapis.com/apis/run.googleapis.com/v1/namespaces/${{ secrets.GCP_PROJECT }}/jobs/${{ secrets.GCP_APPLICATION }}:run" \
            --http-method POST \
            --oauth-service-account-email ${{ secrets.GCP_PROJECT_NUMBER }}-compute@developer.gserviceaccount.com