

name: ci-golang-workflow
on: 
  push:
    branches:
      - main
jobs:
  deploy-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      # Setup gcloud CLI
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          service_account_email: ${{ secrets.GCP_EMAIL }}
          service_account_key: ${{ secrets.GCP_CREDENTIALS }}
          export_default_credentials: true
      
      # Configure Docker with Credentials
      - name: Configure Docker
        run: |
          gcloud auth configure-docker
        
      # Build the Docker image
      - name: Build & Publish
        run: |
          gcloud config set project ${{ secrets.GCP_PROJECT }}
          gcloud builds submit --tag gcr.io/${{ secrets.GCP_PROJECT }}/${{ secrets.GCP_APPLICATION }}
          gcloud config set run/region us-central1

      - name: Setup gcloud beta
        run: gcloud components install beta

      # Deploy the Docker image to the GKE cluster
      - name: Create Job
        run: gcloud beta run jobs create go-job --image=gcr.io/${{ secrets.GCP_PROJECT }}/${{ secrets.GCP_APPLICATION }}
          
      - name: Update Job
        run: gcloud beta run jobs update go-job --image=gcr.io/${{ secrets.GCP_PROJECT }}/${{ secrets.GCP_APPLICATION }}
